.message-editor-page {
  .page-content {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
  }

  .button {
    margin-top: 10px;
    padding: 10px 20px;
    border-radius: 10px;
    border: 2px solid #61dafb;
    cursor: pointer;
    text-decoration: none;
    line-height: 13px;
    margin-left: 10px;
  }

  .variables-input {
    margin-top: 10px;
    padding: 10px 20px;
    border-radius: 20px;
    border: 3px solid #61dafb;
  }

  .text-input-wrapper {
    margin-top: 10px;
    width: 600px;
  }

  .if-else-button {
    margin-top: 10px;
    padding: 10px 20px;
    border-radius: 20px;
    border: 3px solid #61dafb;
    cursor: pointer;

    .if-else-wrapper {
      padding: 3px;
      border-radius: 5px;
      border: 1px solid #61dafb;
      margin: 5px;
      color: #61dafb;
    }
  }
}